html {
    font-family: 'Roboto';
    font-size: 10px;
}
.wrap {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

/*BTN START*/
.darker-btn {
    background: #111B47;
    padding: 5px 0;
    width: 100%;
    border: 2px solid #111B47;
    border-radius: 2px;
    outline: none;
    color: #fff;
    line-height: 24px;
}
.darker-btn:hover {
    background: transparent;
    border: 2px solid #111B47;
    color: #111B47;
    transition: 0.5s;
    cursor: pointer;
}
.lighter-btn {
    background: transparent;
    padding: 5px 0;
    width: 100%;
    border: 2px solid #111B47;
    border-radius: 2px;
    outline: none;
    color: #111B47;
    line-height: 24px;
}
.lighter-btn:hover {
    background: #111B47;
    border: 2px solid #111B47;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}
/*BTN END*/
/* TEXT START  */
.block-title {
    font-weight: 500;
    color: #091133;
    font-size: 3.6em;
    line-height: 26px;
    margin-bottom: 16px;
}
.block-desc {
    font-size: 1.6em;
    line-height: 26px;
    color: #6F7CB2;
}
/* TEXT END  */
/* BLOCK TEMPLATE START  */
.block-template {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 170px 0;
}
.block-template-info {
    max-width: 445px;
}
/* BLOCK TEMPLATE END  */

/*HEADER START*/

/* HEADER-TOP START*/
.header {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    
}
.header-intro-bg {
    position: absolute;
    display: block;
    width: 100%;
    min-height: 1110px;
    background: #fff url('../img/intro-bg.svg') no-repeat right top;
    background-size: 71%;
    top: 0;
    left: 0;
    z-index: -1;
}
.header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0;
    align-items: center;
}
.nav {
    width: 245px;
}
.nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-link {
    font-size: 1.4em;
    color: #505F98;
    position: relative;
}
.nav-link:hover {
    color: #14215c;
}
.nav-link:before {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #14215c;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.3s;
}
.nav-link:hover:before {
    width: 100%;
    left: 0;
}
.company-logo {
    font-weight: 900;
    font-size: 2.6em;
    color: #37447E;
    transition: 0.2s;
}
.company-logo:hover {
    color: rgb(255, 0, 212);
    cursor: pointer;
}
.header-top-btn {
    max-width: 160px;
    font-size: 1.2em;
}
/* HEADER-TOP END*/
/*HEADER END*/

/* MAIN START  */
/* INTRO START */
.main {
    position: relative;
    z-index: 2;
}
.intro {
    margin-bottom: 388px;
    padding-top: 260px;
}
.intro-title {
    font-weight: 500;
    font-size: 5em;
    line-height: 66px;
    letter-spacing: 1px;
    color: #091133;
    max-width: 539px;
    margin-bottom: 20px;
}
.intro-desc {
    font-size: 18px;
    line-height: 30px;
    color: #505F98;
    max-width: 539px;
    margin-bottom: 69px; 
}
.intro-btn {
    max-width: 189px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.6em;
    line-height: 26px;
}
/* INTRO END */

/* FIRST-BLOCK START */
.main {
    max-width: 1440px;
    margin: 0 auto;
}
.first-block {
    padding: 160px 0;
    background: #fff url('../img/first-block-bg.svg') no-repeat center right;    
}
.first-block-wrapper {
    max-width: 540px;
}
.first-block-title {
    margin-bottom: 16px;    
    line-height: 48px;
}
.first-block-desc {
    max-width: 540px;
    margin-bottom: 80px;
}
.first-block-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.first-block-card {
    max-width: 255px;
    margin-bottom: 30px;
}
.card-icon {
    max-width: 36px;
    margin-bottom: 14px;
}
.card-title {
    font-weight: 500;
    font-size: 1.6em;
    line-height: 26px;
    color: #091133;
    margin-bottom: 6px;
}
.card-desc {
    font-size: 12px;
    line-height: 18px;
    color: #5D6970;
}
/* FIRST-BLOCK END  */
/* SIMILAR BLOCKS START  */
.second-block {
    background: #fff url('../img/second-block-bg.svg') no-repeat 30px center;
}
.third-block {
    background: #fff url('../img/third-block-bg.svg') no-repeat left center;
}
.fourth-block {
    background: #fff url('../img/fourth-block-bg.svg') no-repeat 40px center;
}
.fourth-block-desc {
    margin-bottom: 40px;
}
.fourth-block-btn {
    max-width: 150px;
    font-weight: 500;
    font-size: 1.4em;
}
/* SIMILAR BLOCKS END  */

/* PRICE-BLOCK START  */
.price-block {
    padding: 230px 0 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff url('../img/price-block-bg.svg') no-repeat center top;
    
}
.price-block-title {
    font-weight: 500;
    line-height: 48px;
}
.price-block-desc {
    max-width: 600px;
    margin-bottom: 35px;
}
.price-block-cost {
    font-weight: 500;
    font-size: 5em;
    line-height: 66px;
    color: #222F65;
    text-align: center;
    letter-spacing: 1px;
}
.price-block-desc-for-cost {
    font-size: 1.6em;
    line-height: 26px;
    color: #37447E;
    margin-bottom: 60px;
}
.price-block-note {
    font-size: 1.4em;
    line-height: 24px;
    color: #5D6970;
    margin-bottom: 9px;
}
.price-block-btn {
    max-width: 189px;
}

/* PRICE-BLOCK END  */

/* MAIN END  */

/* FOOTER START  */
.footer {
    background: #E7ECFF;
    max-width: 1440px;
    margin: 0 auto;
}
.top-footer {
    padding: 67px 0 46px;
    border-bottom: 2px solid #CDD1D4;
    display: flex;
    justify-content: space-between;
}
.top-footer-company {
    font-weight: 500;
    font-size: 1.4em;
    line-height: 24px;
    color: #939EA4;
}
.top-footer-btn {
    max-width: 109px;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 18px;
}
.bottom-footer {
    padding: 20px 0 30px;
    display: flex;
    justify-content: space-between;
}
.footer-nav-link {
    color: #929ECC;
}
.social-icons {
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.social-icon {
    width: 16px;
    height: 16px;
    transform: scale(1);
    transition: 0.2s;
}
.social-icon:hover {
    transform: scale(2);
}
.facebook {
    background: url('../img/social-icons/facebook.svg') no-repeat center center;
    background-size: cover;
}
.facebook:hover {
    background: url('../img/social-icons/facebook-hover.svg') no-repeat center center;;
}
.linkedin {
    background: url('../img/social-icons/linkedin.svg') no-repeat center center;
    background-size: cover;
}
.linkedin:hover {
    background: url('../img/social-icons/linkedin-hover.svg') no-repeat center center;
}
.twitter {
    background: url('../img/social-icons/twitter.svg') no-repeat center center;
    background-size: cover;
}
.twitter:hover {
    background: url('../img/social-icons/twitter-hover.svg') no-repeat center center;
}
.youtube {
    background: url('../img/social-icons/youtube.svg') no-repeat center center;
    background-size: cover;
}
.youtube:hover {
    background: url('../img/social-icons/youtube-hover.svg') no-repeat center center;
}
.instagram {
    background: url('../img/social-icons/instagram.svg') no-repeat center center;
    background-size: cover;
}
.instagram:hover {
    background: url('../img/social-icons/instagram-hover.svg') no-repeat center center;
}
/* FOOTER END  */

/* ABOUT PAGE START  */
.first-block-about {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.first-block-about-info {
    max-width: 520px;
}
/* ABOUT PAGE END  */

/* CONTACT PAGE START  */
.first-block-contact {
    display: flex;
    justify-content: space-between;
}
.first-block-contact-info {
    padding-top: 140px;
    max-width: 550px;
}

/* CONTACT PAGE END  */

/* MEDIA BREAKPOINTS START  */
@media only screen and (max-width: 1279px) {    
    .header-intro-bg {
        min-height: 550px;
        background-size: auto 100%;
    }
    .intro {
        padding-top: 50px;
        max-width: 70%;
        margin-bottom: 50px;
    }
    .first-block {
        padding: 50px 0;
        background-size: auto 50%;
    }
    .block-template {
        padding: 50px 0;
        background-size: auto 50%;
    }
    .fourth-block {
        background-position-x: left;
    }
    .first-block-about-info {
        margin-right: 20px;
    }
    .first-block-card {
        max-width: 180px;
    }
    .first-block-about {
        padding-top: 50px;;
    }
    .first-block-about-device {
        align-self: flex-end;
    }
    .first-block-desc {
        margin-bottom: 40px;
    }
    .first-block-contact-info {
        margin-left: 30px;
        padding-top: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .company-logo {
        margin: 0 20px;
    }
    .intro {
        max-width: 100%;
    }
    .intro-desc {
        margin-bottom: 20px;
    }
    .social-icons {
        margin-left: 20px;
    }
    .price-block {
        padding: 50px 20px;
    }
    .first-block, .second-block, .third-block, .fourth-block {
        background:none;  
        background-color: #F3F5FF;
    }
    .first-block-cards {
        flex-direction: column;
        align-items: center;
    }
    .first-block-card {
        text-align: center;
    }
    .fourth-block-btn {
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .first-block-about-info {
        max-width: 100%;
    }
    .first-block-about {
        display: block;
    }
    .first-block-about-device {
        display: none;
    }
    .first-block-contact-pic {
        display: none;
    }
}


/* MEDIA BREAKPOINTS START  */
